@import "tailwindcss";
.button-gen {
  @apply flex items-center justify-center w-full hover:cursor-pointer p-1 border-2 border-black rounded-lg;
}

.card {
  @apply flex justify-around w-full  p-5 rounded-4xl shadow-2xl text-white hover:cursor-pointer hover:brightness-105;
}
.card-title {
  @apply text-3xl font-bold;
}
.card-type {
  @apply flex justify-center items-center p-1 backdrop-grayscale-50 rounded-xl mt-1 me-2 text-lg;
}

@layer utilities {
  .type-normal {
    background-color: var(--normal-color);
  }

  .type-fire {
    background-color: var(--fire-color);
  }

  .type-water {
    background-color: var(--water-color);
  }

  .type-grass {
    background-color: var(--grass-color);
  }

  .type-electric {
    background-color: var(--electric-color);
  }

  .type-ice {
    background-color: var(--ice-color);
  }

  .type-fighting {
    background-color: var(--fighting-color);
  }

  .type-poison {
    background-color: var(--poison-color);
  }

  .type-ground {
    background-color: var(--ground-color);
  }

  .type-flying {
    background-color: var(--flying-color);
  }

  .type-psychic {
    background-color: var(--psychic-color);
  }

  .type-bug {
    background-color: var(--bug-color);
  }

  .type-rock {
    background-color: var(--rock-color);
  }

  .type-ghost {
    background-color: var(--ghost-color);
  }

  .type-dragon {
    background-color: var(--dragon-color);
  }

  .type-dark {
    background-color: var(--dark-color);
  }

  .type-steel {
    background-color: var(--steel-color);
  }

  .type-fairy {
    background-color: var(--fairy-color);
  }

  .type-stellar {
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  }
}
